.staff-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  top: 150px; /* Consistent with admin dashboard */
  margin: auto;
}

.staffPage_SelectFlight {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 175px;
  left: 50%;
  transform: translateX(-50%);
}

.sidebar {
  position: fixed;
  top: 150px;
  left: 10px;
  width: 200px;
  background-color: #f4f4f4;
  padding-top: 20px;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
}

.collapsed {
  left: 10px;
  width: 0;
  transition: width 0.1s;
}

.toggle-button {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.sidebar h3 {
  margin-left: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar button {
  width: 175px;
  padding: 10px;
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #ddd;
}

.main-content {
  margin-left: 220px; /* Adjust according to sidebar width */
  padding: 20px;
}

.staff-option-content {
  display: flex;
  flex-grow: 1;
  flex-flow: column;
}

.in-flight {
  margin-left: 220px; /* Consistent with sidebar positioning */
}

.staff-dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  top: 175px;
}
