.adminPage_SelectFlight {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 175px;
  left: 50%;
  transform: translateX(-50%);
}

.admin-dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  top: 175px;
}

.admin-dashboard-content {
  margin-top: 20px; 
}
